{{template "header" .User}}

<h2>Post a New Request</h2>

<p style="color:red;">{{.ClientMsg}} </p> 


{{ if not .FormSubmitted}}
{{template "addreq-form" .}}

{{else}}
{{template "addreq-complete" .}}
{{end}}

{{template "footer"}}

</body>
</html>