{{define "adminmenu"}}
<br>
<table id="menu">
    <tr><th>Admin Menu</th></tr>
    <tr><td><a href="/categorytable">Category Table</a></td></tr>
    <tr><td><a href="/membertypetable">Member Type Table</a></td></tr>
    <tr><td><a href="/requeststatustable">Request Status Table</a></td></tr>
</table>
{{end}}