{{define "adminmenu"}}
<br>
<table id="menu">
    <tr><th>Admin Menu</th></tr>
    <tr><td><a href="/aaCatView">Category</a></td></tr>
    <tr><td><a href="/aaMemTypeView">Member Type</a></td></tr>
    <tr><td><a href="/aaReqSView">Request Status</a></td></tr>
</table>
{{end}}