{{template "header" .User}}

<h2>Edit an Existing Request</h2>

<p style="color:red;">{{.ClientMsg}} </p> 

{{ if not .FormSubmitted}}
    {{template "editreq-edit" .}}
{{else}}
    {{template "editreq-complete" .}}
{{end}}

{{template "footer"}}

</body>
</html>