{{define "mainmenu"}}
<br>
<table id="view">
    <tr><th>Main Menu</th></tr>
    <tr><td><a href="/addorder">Add Order</a></td></tr>
    <tr><td><a href="/editorder">Edit Order</a></td></tr>
    <tr><td><a href="/vieworders">View Orders</a></td></tr>     
</table>
{{end}}