{{define "mainmenu"}}
<br>
<table id="view">
    <tr><th>Main Menu</th></tr>
    <tr><td><a href="/addrequest">Add Request</a></td></tr>
    <tr><td><a href="/editrequest">Edit Request</a></td></tr>
    <tr><td><a href="/deleterequest">Delete Request</a></td></tr>
    <tr><td><a href="/fulfilrequest">Fulfil Request</a></td></tr>     
</table>
{{end}}