{{ template "header" .User}}

<table id="menu">
    <tr><th>Manage Requests</th></tr>
    <tr><td><a href="/addrequest">Add Request</a></td></tr>
    <tr><td><a href="/viewrequest">View Request</a></td></tr>
    <tr><td><a href="/selecteditrequest">Edit Request</a></td></tr>
    <tr><td><a href="/deleterequest">Delete Request</a></td></tr>
</table>

{{template "footer"}}


</body>
</html>
