{{template "header"}}

<h2>RequestStatus Table</h2>
<br>
<table id="view">
    <tr><th>StatusCode</th><th>Status</th><th>CreatedBy</th><th>Created_dt</th><th>LastModifiedBy</th><th>LastModified_dt</th></tr>
    <tr><td>StatusCode</td></tr>
</table>

{{template "footer"}}
</body>
</html>