{{template "header" .User}}

<h2>Edit an Existing Request</h2>

{{if eq .CntCurrentItems 0}}
    <p style="color:red;">No requests have been made.</p>
{{else}}
<p style="color:red;">{{.ClientMsg}} </p> 

{{template "editreq-select" .}}

{{template "footer"}}
{{template "req-footer"}}
{{end}}
</body>
</html>