{{define "disclaimer"}}
<p style="color:blue;font-size:10pt;width:90%;">
    Disclaimer: By selecting the requests, you agree to fulfil them at your personal expense and 
    to complete the requests before the stated deadline. Fulfilling a request is solely based on a 
    trust basis, and Giving Grace Portal only provides the intermediary between requesters and helpers 
    to facilitate our community's needy and elderly. We sincerely thank you for your contribution to 
    make our recipients' life better.
</p>
{{end}}